@import "~src/mixins";

.badge-list {
    td {
        vertical-align: middle;
        text-align: center;
    }

    th {
        text-align: center;
    }

    @include media-breakpoint-down(sm) {
        .badge-alignment,
        .badge-type,
        .badge-description {
            display: none;
        }
    }
}
