<table class="badge-list table table-bordered table-striped">
    <thead>
    <tr>
        <th class="badge-icon"></th>
        <th class="badge-name">Name</th>
        <th class="badge-alignment">Alignment</th>
        <th class="badge-type">Type</th>
        <th class="badge-description">Description</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let badge of filteredBadges">
        <td class="badge-icon">
            <a [routerLink]="['/', badge.serverGroup.key, 'badge', badge.key]">
                <badge-images [badge]="badge"></badge-images>
            </a>
        </td>

        <td class="badge-name">
            <a [routerLink]="['/', badge.serverGroup.key, 'badge', badge.key]">
                <badge-name-stacked [badge]="badge"></badge-name-stacked>
            </a>
        </td>

        <td class="badge-alignment">
            <badge-alignment-inline [badge]="badge"></badge-alignment-inline>
        </td>

        <td class="badge-type">
            {{badge.type | badgeType}}
        </td>

        <td class="badge-description">
            <badge-description [badge]="badge"></badge-description>
        </td>
    </tr>
    </tbody>
</table>
