@import "~src/mixins";

badge-list {
    .filters {
        margin-bottom: 8px;

        input.search {
            margin-right: 48px;
        }
    }

    .badge-list {
        td {
            vertical-align: middle;
            text-align: center;
        }

        th {
            text-align: center;
        }

        @include media-breakpoint-down(sm) {
            .badge-alignment,
            .badge-type,
            .badge-description {
                display: none;
            }
        }

        badge-icons {
            img {
                height: 32px;
            }
        }

        .no-matches {
            color: $text-muted;
            font-style: italic;
        }
    }

    pagination {
        margin-right: 8px;
    }

    .page-count {
        margin-right: 8px;
    }
}
