<form class="filters">
    <div class="row pb-3">
        <div class="col">
            {{totalItems}} badges total ({{serverGroup.badges.length - totalItems}} filtered)
        </div>
    </div>
    <div id="filters">
        <div class="row pb-3">
            <div class="col-6 col-md-2">
                <badge-type-select [(type)]="type"></badge-type-select>
            </div>
            <div class="col-6 col-md-4" *ngIf="type === badgeType.EXPLORATION">
                <game-map-select [serverGroup]="serverGroup" [(mapKey)]="mapKey"></game-map-select>
            </div>
            <div class="col-6 col-md-2">
                <badge-alignment-select [(alignment)]="alignment"></badge-alignment-select>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <div class="input-group">
                <input type="text" placeholder="Search..." class="form-control search br-0" [(ngModel)]="queryStr"
                    [ngModelOptions]="{standalone: true}"/>
                <div class="input-group-append">
                    <select class="custom-select" [(ngModel)]="searchType" [ngModelOptions]="{standalone: true}">
                        <option value="names">By title</option>
                        <option value="badgeText">By badge text</option>
                    </select>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-3 col-lg-2 ml-auto mt-3 mt-md-0">
            <button type="button" class="btn btn-light btn-block" (click)="clearFilters()">Clear Filters</button>
        </div>
    </div>
</form>
<ng-container *ngTemplateOutlet="pagination"></ng-container>


<div class="table-responsive">
    <table class="badge-list table table-bordered">
        <thead>
        <tr>
            <th class="badge-icon"></th>
            <th class="badge-name clickable" (click)="sort(badgeSortType.NAME)">
                <fa-icon [icon]="sortIcon" [fixedWidth]="true" *ngIf="!isSortedBy(badgeSortType.NAME)"></fa-icon>
                <fa-icon [icon]="sortAsc" [fixedWidth]="true" *ngIf="isSortedBy(badgeSortType.NAME, badgeSortDirection.ASC)"></fa-icon>
                <fa-icon [icon]="sortDesc" [fixedWidth]="true" *ngIf="isSortedBy(badgeSortType.NAME, badgeSortDirection.DESC)"></fa-icon>
                Name
            </th>
            <th class="badge-alignment">Alignment</th>
            <th class="badge-type clickable" (click)="sort(badgeSortType.CANONICAL)">
                <fa-icon [icon]="sortIcon" [fixedWidth]="true" *ngIf="!isSortedBy(badgeSortType.CANONICAL)"></fa-icon>
                <fa-icon [icon]="sortAsc" [fixedWidth]="true" *ngIf="isSortedBy(badgeSortType.CANONICAL, badgeSortDirection.ASC)"></fa-icon>
                <fa-icon [icon]="sortDesc" [fixedWidth]="true" *ngIf="isSortedBy(badgeSortType.CANONICAL, badgeSortDirection.DESC)"></fa-icon>
                Type
            </th>
            <th class="badge-map clickable" (click)="sort(badgeSortType.MAP)" *ngIf="type === badgeType.EXPLORATION">
                <fa-icon [icon]="sortIcon" [fixedWidth]="true" *ngIf="!isSortedBy(badgeSortType.MAP)"></fa-icon>
                <fa-icon [icon]="sortAsc" [fixedWidth]="true" *ngIf="isSortedBy(badgeSortType.MAP, badgeSortDirection.ASC)"></fa-icon>
                <fa-icon [icon]="sortDesc" [fixedWidth]="true" *ngIf="isSortedBy(badgeSortType.MAP, badgeSortDirection.DESC)"></fa-icon>
                Map
            </th>
            <th class="badge-description" *ngIf="type !== badgeType.EXPLORATION">Description</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="badges.length; else noMatches">
            <tr *ngFor="let badge of badges">
                <td class="badge-icon">
                    <a [routerLink]="['/', badge.serverGroup.key, 'badge', badge.key]">
                        <badge-icons [badge]="badge"></badge-icons>
                    </a>
                </td>

                <td class="badge-name">
                    <a [routerLink]="['/', badge.serverGroup.key, 'badge', badge.key]">
                        <badge-name-stacked [badge]="badge"></badge-name-stacked>
                    </a>
                </td>

                <td class="badge-alignment">
                    <badge-alignment-inline [badge]="badge"></badge-alignment-inline>
                </td>

                <td class="badge-type">
                    {{badge.type | badgeType}}
                </td>

                <td class="badge-description">
                    <badge-description [badge]="badge"></badge-description>
                </td>
            </tr>
        </ng-container>
        <ng-template #noMatches>
            <tr>
                <td class="no-matches" colspan="5">No badges match your current filters.</td>
            </tr>
        </ng-template>
        </tbody>
    </table>
</div>

<ng-container *ngTemplateOutlet="pagination"></ng-container>

<ng-template #pagination>
    <div class="row form-inline pagination-wrapper">
        <div class="col-12 col-md-6 d-flex justify-content-center justify-content-md-start align-items-center mb-4 mt-2 mb-md-0 mt-md-0">
            <pagination [totalItems]="totalItems" [(ngModel)]="page" [maxSize]="4" [itemsPerPage]="itemsPerPage"
                        (numPages)="pageCount = $event" boundaryLinks="true"
                        previousText="&lsaquo;" nextText="&rsaquo;" firstText="&laquo;" lastText="&raquo;"></pagination>
        </div>
        <div class="col-12 col-md-6 d-flex justify-content-end align-items-center">
            <div class="page-count">{{pageCount}} Page(s)</div>
            <select class="form-control" [(ngModel)]="itemsPerPage" [ngModelOptions]="{standalone: true}">
                <option value="10">10 items per page</option>
                <option value="20">20 items per page</option>
                <option value="50">50 items per page</option>
                <option value="100">100 items per page</option>
                <option value="500">500 items per page</option>
                <option value="">All</option>
            </select>
        </div>
    </div>
</ng-template>
