@import "~src/mixins";

badge-list {
    .filters {
        margin-bottom: 8px;
        .filter-trigger{
            margin-left: 1rem;
        }
    }

    .badge-list {
        td {
            vertical-align: middle;
            text-align: center;
        }

        th {
            text-align: center;
        }

        .badge-map{
            min-width: 60px;
        }

        .badge-icon{
            min-width: 120px;
        }

        @include media-breakpoint-down(sm) {
            .badge-alignment,
            .badge-type,
            .badge-description {
                display: none;
            }
        }

        badge-icons {
            img {
                height: 32px;
            }
        }

        .no-matches {
            color: $text-muted;
            font-style: italic;
        }
    }

    .pagination-wrapper{
        margin-bottom: 1rem;
        margin-top: 1rem;

        .page-count {
            margin-right: 1rem;
        }

        .pagination {
            margin-bottom: 0;
        }
    }


}
