@import "~src/mixins";

.badge-alignment {
    .separator:after {
        margin: 0 4px;
        content: "/";
    }

    .alignment {
        color: $inactive-text;
        user-select: none;

        &.hero {
            color: $hero;
            user-select: text;
        }

        &.villain {
            color: $villain;
            user-select: text;
        }

        &.praetorian {
            color: $praetorian;
            user-select: text;
        }
    }
}
