@import "~src/mixins";

.badge-names {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    white-space: nowrap;

    .badge-name {
        font-weight: 600;

        &.hero {
            color: $hero;
        }

        &.villain {
            color: $villain;
        }

        &.praetorian {
            color: $praetorian;
        }
    }
}
