<main class="container">
    <section class="row">
        <div class="col col-lg-10 offset-lg-1">
            <h1>Badger</h1>

            <p class="lead">Badge tracker for City of Heroes.</p>
            <div class="btn-group" role="group">
                <a class="btn btn-primary" routerLink="/character">
                    Character List
                </a>

                <a class="btn btn-secondary" [routerLink]="['/', serverGroups[0].key]"
                   *ngIf="serverGroups.length === 1; else dropdownBlock">Badge List</a>

                <ng-template #dropdownBlock>
                    <button class="btn btn-secondary dropdown-toggle" type="button" data-toggle="dropdown"
                            aria-haspopup="true" aria-expanded="false">Badge List
                    </button>
                    <div class="dropdown-menu">
                        <a *ngFor="let serverGroup of serverGroups | serverGroupSort" class="dropdown-item"
                           [routerLink]="['/', serverGroup.key]">{{ serverGroup.name }}</a>
                    </div>
                </ng-template>
            </div>
        </div>
    </section>

    <section class="row my-5">
        <div class="col-12 col-md-6 col-lg-4 order-1 order-md-2 mb-5 mb-md-0">
            <img src="./assets/badger_opt.svg" class="logo-large img-fluid mx-auto d-block" alt="Badger Logo"/>
        </div>
        <div class="col-12 col-md-6 col-lg-6 offset-lg-1 order-2 order-md-1">
            <h3>What is Badger?</h3>
            <h4>Badger is a badge database and tracker application for City of Heroes badge hunters.</h4>

            <p>I designed badger to solve a couple of issues that have cropped up in the post-sunset era:</p>
            <ul>
                <li>The original badge hunting sites and tools are out of date.</li>
                <li>Much of the old tools are closed source and abandoned.</li>
                <li>There are now multiple server groups running, each with different badges available on their
                    servers.
                </li>
            </ul>

            <p>
                <strong class="d-inline-block mb-1">To that end, Badger is open source:</strong><br/>
                <fa-icon [fixedWidth]="true" [icon]="githubIcon" class="mr-2"></fa-icon>
                <a href="https://github.com/n15g/badger" target="_blank">https://github.com/n15g/badger</a>
            </p>
        </div>
        <div class="col-12 col-lg-10 offset-lg-1 order-3">
            <h4 class="mt-4 d-inline-block">
                Badger is designed to handle different servers with different badges available.
            </h4>
            <p>
                The badge and server data are stored on GitHub licensed under the <a
                href="https://choosealicense.com/licenses/gpl-3.0/" target="_blank">GPL 3.0</a> and published to
                npm, making
                it easy to use in other applications if you wish.
            </p>
            <ul class="list-unstyled">
                <li>
                    <fa-icon [fixedWidth]="true" [icon]="githubIcon" class="mr-2"></fa-icon>
                    <a href="https://github.com/n15g/coh-content-db-homecoming" target="_blank">https://github.com/n15g/coh-content-db-homecoming</a>
                </li>
                <li>
                    <fa-icon [fixedWidth]="true" [icon]="npmIcon" class="mr-2"></fa-icon>
                    <a href="https://www.npmjs.com/package/coh-content-db-homecoming" target="_blank">https://www.npmjs.com/package/coh-content-db-homecoming</a>
                </li>
            </ul>
            <p>
                I actively encourage anyone who wants to use the badge data for other projects to do so.
            </p>

            <p>The currently supported server groups are:</p>

            <ul class="server-groups" *ngFor="let serverGroup of serverGroups | serverGroupSort">
                <li>
                    <a [routerLink]="['/', serverGroup.key]">{{ serverGroup.name }}</a>
                    -
                    <a *ngIf="serverGroup.repository" [href]="serverGroup.repository"
                       [innerHTML]="serverGroup.repository"></a>
                    <server-group-statuses [serverGroup]="serverGroup"></server-group-statuses>
                </li>
            </ul>

            <p>
                If anyone is interested in creating or maintaining the data for other server groups, let me know.
            </p>

            <p>
                ...and of course, happy badging!<br/>
                Go hunt. Kill Skuls.
            </p>
            <p><strong>&mdash; Keyboard Kitsune</strong></p>
        </div>
    </section>
</main>

<aside>
    <div class="container">
        <section class="row">
            <div class="col-12 col-md-6">
                <h4 class="text-center">Special Thanks</h4>
                <div class="thanks">
                    <div>
                        <fa-icon [icon]="thanksIcon" size="4x"></fa-icon>
                    </div>
                    <div>
                        <ul>
                            <li><a href="https://forums.homecomingservers.com/profile/40956-abovethechemist/">AboveTheChemist</a>
                                for collating most of the Homecoming badge data.
                            </li>
                            <li><a href="https://github.com/Hard-Eight">Hard-Eight</a> for badge updates.
                            </li>
                            <li><a href="https://forums.homecomingservers.com/profile/8241-piyerus/">Piyerus</a> for
                                filling in a ton of blanks on new badges.
                            </li>
                            <li><a href="https://github.com/blhylton">blhylton</a> for help with the in-game badge
                                ordering and lots of fixes.
                            </li>
                            <li><a href="https://github.com/art0rz">art0rz</a> for writing the log parser.</li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="col-12 col-md-6">
                <h4 class="text-center">Contact</h4>
                <dl>
                    <dt>GitHub</dt>
                    <dd>
                        <a href="https://github.com/n15g">
                            <fa-icon [icon]="githubIcon"></fa-icon>
                            n15g
                        </a>
                    </dd>
                    <dt>Homecoming Forums</dt>
                    <dd><a href="https://forums.homecomingservers.com/profile/40470-keyboardkitsune/">https://forums.homecomingservers.com/profile/40470-keyboardkitsune/</a>
                    </dd>
                    <dt>Homecoming</dt>
                    <dd><code>@KeyboardKitsune</code></dd>
                </dl>
            </div>
        </section>
    </div>
</aside>
