.links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .link {
        position: relative;
        margin: .5rem 0;

        &:before {
            content: ' ';
            display: inline-block;
            height: 32px;
            width: 32px;
            position: absolute;
            top: -4px;
            left: 0;
        }

        &.paragon-wiki, &.homecoming{
            padding-left: 35px;
        }

        &.paragon-wiki:before {
            background: url("/assets/paragon-wiki.png") center center no-repeat;
            background-size: contain;
        }

        &.homecoming:before {
            background: url("/assets/homecoming.png") center center no-repeat;
            background-size: contain;
        }
    }
}
