.badge-icon {
    display: inline-block;
    margin: 0.25rem;

    img {
        transition: transform .2s ease;
        transform: scale(0.8) translateZ(0);
    }

    &:hover {
        img {
            transform: scale(1);
        }
    }
}
