<div class="badges">
    <label class="mt-3 mb-0"><input type="checkbox" [(ngModel)]="villain"> Villain icons</label>

    <p *ngIf="!collectedBadges.length; else badges" class="text-muted">Nothing yet, go out and collect some badges!</p>

    <ng-template #badges>
        <ng-container *ngVar="collectedBadges | badgesByType as badgesByType">
            <ng-container *ngFor="let type of types">
                <div *ngTemplateOutlet="badgeType;context({badgeType: type, badges:badgesByType[type]})"></div>
            </ng-container>
        </ng-container>
    </ng-template>
</div>

<ng-template #badgeType let-badgeType="badgeType" let-badges="badges">
    <ng-container *ngIf="badges && badges.length">
        <h3 class="my-3">{{badgeType | badgeType}} <small>({{badges.length}} Badge{{badges.length === 1 ? "" : "s"}})</small></h3>
        <badge-list-icons class="d-flex flex-wrap flex-row justify-content-center mb-1" [badges]="badges" [villain]="villain"></badge-list-icons>
    </ng-container>
</ng-template>
