<div class="badges">
    <label><input type="checkbox" [(ngModel)]="villain"> Villain icons</label>

    <p *ngIf="!collectedBadges.length; else badges" class="text-muted">Nothing yet, go out and collect some badges!</p>

    <ng-template #badges>
        <ng-container *ngVar="collectedBadges | badgesByType as badgesByType">
            <ng-container *ngFor="let type of types">
                <div *ngTemplateOutlet="badgeType;context({badgeType: type, badges:badgesByType[type]})"></div>
            </ng-container>
        </ng-container>
    </ng-template>
</div>

<ng-template #badgeType let-badgeType="badgeType" let-badges="badges">
    <ng-container *ngIf="badges && badges.length">
        <h3>{{badgeType | badgeType}} - {{badges.length}} Badge{{badges.length === 1 ? "" : "s"}}</h3>
        <badge-list-images [badges]="badges" [villain]="villain"></badge-list-images>
    </ng-container>
</ng-template>
