.badges {
    margin: 8px;
}

.badge-icon {
    display: inline-block;
    margin: 8px 4px;

    img {
        transition: transform .2s ease;
    }

    &:hover {
        img {
            transform: scale(1.5);
        }
    }
}
