@import "~src/variables";

$text-color: $gray-900;
$link-color: #2C3E50;

$inactive-text: #dddddd;


$hero: #4a85d3;
$villain: #8b2a22;
$praetorian: #cfad23;

$enh-accuracy: #d0ad1f;
$enh-confuse: #8528e8;
$enh-damage: #d60005;
$enh-defense-buff: #998aad;
$enh-defense-debuff: #6944a2;
$enh-endurance-modification: #000ac3;
$enh-endurance-reduction: #7fa7ff;
$enh-fear: #751b1c;
$enh-fly-speed: #78d6b2;
$enh-healing: #06da0e;
$enh-hold: #fcb15a;
$enh-immobilize: #a66317;
$enh-intangibility: #ffd288;
$enh-interrupt-duration: #a28e6f;
$enh-jump: #bc987d;
$enh-knockback: #799aaf;
$enh-range: #acc19a;
$enh-recharge-reduction: #643b0d;
$enh-resist-damage: #e4b2ff;
$enh-run-speed: #bedef0;
$enh-sleep: #b7b3b8;
$enh-slow: #6da980;
$enh-stun: #919191;
$enh-taunt: #262626;
$enh-to-hit-buff: #cdc577;
$enh-to-hit-debuff: #b98f4a;


$breadcrumb-divider: quote("|");

$table-cell-padding: 0.25rem;

$pagination-bg: $white;
$pagination-color: $primary;

$pagination-border-color: $gray-200;
$pagination-border-width: 1px;

$pagination-active-bg: $primary;
$pagination-active-color: $white;

$pagination-hover-bg: $primary;
$pagination-hover-color: $white;

$pagination-disabled-bg: $gray-200;
$pagination-disabled-color: lighten($primary, 50%);
$pagination-disabled-border-color: $gray-200;
