@import "~src/mixins";

.badge-icons {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    img {
        margin: 4px;
    }

    .missing {
        font-weight: lighter;
        font-style: italic;
        color: $text-muted;
    }
}
