@import "~src/mixins";

.loc {
    background-color: $gray-200;
    border: $gray-400 1px solid;
    border-radius: 3px;
    padding: 0 4px;
    font-family: monospace;
    white-space: nowrap;
}

.multiple-locations {
    color: $text-muted;
    font-style: italic;
}

app-game-map {
    margin-right: 12px;
}
