<nav class="navbar navbar-expand-md navbar-dark bg-primary">
    <a class="navbar-brand d-flex align-middle" routerLink="/">
        <img alt="Badger" src="/assets/logo.png">
        Badger
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainNavContent" aria-controls="mainNavContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link"
                   routerLink="/"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: true}">
                    Home
                </a>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   routerLink="/character"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: true}">
                    Characters
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" id="navbarBadgesDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Badges
                </a>
                <div class="dropdown-menu" aria-labelledby="navbarBadgesDropdown">
                    <a *ngFor="let serverGroup of serverGroups | serverGroupSort" class="dropdown-item" [routerLink]="['/', serverGroup.key]">{{serverGroup.name}}</a>
                </div>
            </li>

            <li class="nav-item">
                <a class="nav-link"
                   routerLink="/changelog"
                   routerLinkActive="active"
                   [routerLinkActiveOptions]="{exact: true}">
                    Changelog
                </a>
            </li>
        </ul>
    </div>
</nav>
