@import "~src/mixins";
@import "~src/variables";

badge-page {
    .infobox {
        td{
            padding: 0;
        }
        dd, dt {
            text-align: center;
        }

        dt{
            width: 100%;
            background-color: $secondary;
            margin: 1rem 0 0.75rem;
            padding: 0.25rem 0;
            color: $white;
            &:first-child{
                margin-top: 0;
            }
        }

        .header {
            text-align: center;
        }

        .location {
            text-align: center;
        }
    }

    .badge-location {
        flex-direction: column !important;
    }

    .partials-list {
        td {
            vertical-align: middle;
            text-align: center;
        }

        th {
            text-align: center;
        }

        @include media-breakpoint-down(sm) {
            .badge-type,
            .badge-description {
                display: none;
            }
        }

        badge-icons {
            img {
                height: 32px;
            }

        }
    }
}
