<div class="container">

    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/', serverGroup.key]">{{serverGroup.name}}</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{badge | badgeName}}</li>
        </ol>
    </nav>

    <div class="row">
        <div class="order-1 col-12  order-md-0 col-md-8">
            <h3 class="d-none d-md-block">
                <badge-name-inline [badge]="badge"></badge-name-inline>
            </h3>

            <p>
                <badge-text [badge]="badge"></badge-text>
            </p>

            <p *ngIf="badge.acquisition" class="acquisition">{{badge.acquisition}}</p>

            <h4 *ngIf="badge.notes">Notes</h4>
            <p *ngIf="badge.notes" class="notes" [innerHTML]="badge.notes | markdown | smartLinks:{serverGroup: serverGroup}"></p>

            <!-- Partials -->
            <table *ngIf="badge.partials" class="partials-list table table-striped table-bordered">
                <tbody>
                <tr *ngFor="let partial of badge.partials">
                    <ng-container *ngIf="partial.badgeKey | badge :{serverGroup: serverGroup} as referencedBadge">
                        <td class="badge-icon">
                            <a *ngIf="!referencedBadge.unknown" [routerLink]="['/', referencedBadge.serverGroup.key, 'badge', referencedBadge.key]">
                                <badge-images [badge]="referencedBadge"></badge-images>
                            </a>
                        </td>

                        <td class="badge-name">
                            <a *ngIf="!referencedBadge.unknown else badgeName" [routerLink]="['/', referencedBadge.serverGroup.key, 'badge', referencedBadge.key]">
                                <ng-container *ngTemplateOutlet="badgeName"></ng-container>
                            </a>
                            <ng-template #badgeName>
                                <badge-name-stacked [badge]="referencedBadge"></badge-name-stacked>
                            </ng-template>
                        </td>

                        <td class="badge-type">
                            <a [routerLink]="['/', referencedBadge.serverGroup.key, 'badge', referencedBadge.key]">
                                {{referencedBadge.type | badgeType}}
                            </a>
                        </td>

                        <td class="badge-description">
                            <a [routerLink]="['/', referencedBadge.serverGroup.key, 'badge', referencedBadge.key]">
                                <badge-description [badge]="referencedBadge"></badge-description>
                            </a>
                        </td>
                    </ng-container>

                    <td *ngIf="partial.type === 'PLAQUE'">
                        <badge-location [data]="partial"></badge-location>
                    </td>
                    <td *ngIf="partial.inscription" class="d-none d-md-table-cell">
                        <blockquote class="blockquote">
                            <footer class="blockquote-footer">{{partial.inscription}}</footer>
                        </blockquote>
                    </td>
                    <td *ngIf="partial.notes">{{partial.notes}}</td>
                </tr>
                </tbody>
            </table>
        </div>

        <div class="order-0 col-12 order-md-1 col-md-4">
            <table class="table table-striped table-bordered infobox">
                <tbody>
                <tr>
                    <td class="header">
                        <badge-name-stacked class="d-block d-md-none" [badge]="badge"></badge-name-stacked>
                        <badge-images [badge]="badge"></badge-images>
                    </td>
                </tr>
                <tr>
                    <td>
                        <dl>
                            <dt>Alignment</dt>
                            <dd>
                                <badge-alignment-stacked [badge]="badge"></badge-alignment-stacked>
                            </dd>

                            <dt *ngIf="badge.mapKey">Location</dt>
                            <dd *ngIf="badge.mapKey" class="location">
                                <badge-location [data]="badge"></badge-location>
                            </dd>

                            <dt *ngIf="badge.links">Links</dt>
                            <dd *ngIf="badge.links">
                                <links-stacked [links]="badge.links"></links-stacked>
                            </dd>
                        </dl>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
