<div class="modal-header">
    <h4 class="modal-title pull-left">Log parser</h4>

    <button type="button" class="close pull-right" aria-label="Close" (click)="close()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<div class="modal-body">
    <p></p>
    <p>
        Badge detection work by taking advantage of the in game chat log file. When one of your characters receives a new
        badge or you select a new badge title, a text line is dropped in the chat box, and the chat log will be saved to a file, which you then upload to the log parsing tool.
        The chat log is not saved by default, but you can enable it by opening your settings window and finding the following option:
    </p>
    <img src="../../../assets/enable-logging.png" class="how-to-image" />

    <p>Unfortunately, this will only detect newly earned badges, and not badges you have already earned. To detect all
        badges, you will need to run the setTitle binds. </p>

    <p>Follow the steps below to install and run the setTitle binds</p>
    <ol>
        <li>Download the <a href="../../../assets/settitle.txt" class="text-secondary">settitle.txt</a> file to your City of Heroes directory</li>
        <li>Copy the following text, and paste it into your chat box: <code>/bind_load_file "c:\CoH\settitle.txt"</code>. This assumes your City of Heroes directory is <code>c:\CoH</code>. Change it to match the directory you have installed City of Heroes to</li>
    </ol>
    <p>If you've followed all steps correctly, your existing badges will be saved to the log files. You can now upload the log files into this tool.</p>

    <p>
        You can find the log files in in the
        <code>
            &lt;CoHDirectory&gt;/&lt;username&gt;/logs
        </code>
        directory. Select all files and upload them to the log parser dialog.
    </p>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" (click)="back()">
        Back
    </button>
</div>
