@import '@loadingio/loading.css/loading.css';

@font-face {
    font-family: 'Montreal';
    font-style: normal;
    font-weight: 400;
    src: local('Montreal Regular'), url('../resources/fonts/montreal-regular.woff') format('woff');
}

@font-face {
    font-family: 'Montreal';
    font-style: normal;
    font-weight: 700;
    src: local('Montreal Bold'), url('../resources/fonts/montreal-bold.woff') format('woff');
}

@font-face {
    font-family: 'Red Circle Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Red Circle Regular'), url('../resources/fonts/red-circle.woff') format('woff');
}

#root {
    isolation: isolate;
}

:root {
    --hero-color: rgb(34, 100, 255);
    --vigilante-color: rgb(34, 100, 255);
    --villain-color: rgb(139, 42, 34);
    --rogue-color: rgb(139, 42, 34);
    --praetorian--color: rgb(207, 173, 35);
    --resistance--color: rgb(207, 173, 35);
    --loyalist--color: rgb(207, 173, 35);

    p.morality, span.morality {
        &.hero {
            color: var(--hero-color);
        }

        &.vigilante {
            color: var(--vigilante-color);
        }

        &.villain {
            color: var(--villain-color);
        }

        &.rogue {
            color: var(--rogue-color);
        }

        &.praetorian {
            color: var(--praetorian--color);
        }

        &.resistance {
            color: var(--resistance--color);
        }

        &.loyalist {
            color: var(--loyalist--color);
        }
    }

    .hover-zoom {
        transition: transform .2s ease-in-out;

        &:hover {
            transform: scale(1.2);
        }
    }

    .entity {
        font-weight: bold;
    }

    .entityLink {
        border: rgba(128, 128, 128, 0.5) solid 1px;
        border-radius: 8px;
        padding: 3px 4px 1px;
        text-decoration: none;
        color: inherit;

        &:hover {
            background-color: rgba(128, 128, 128, 0.25);
        }
    }

    blockquote {
        margin: 0;
        border-left: 4px solid; /* A nice green color */
        padding: 0 0 0 15px;
        font-style: italic;

        &.hero {
            border-color: var(--hero-color);
        }

        &.villain {
            border-color: var(--villain-color);
        }

        &.praetorian {
            border-color: var(--praetorian--color);
        }
    }
}
