@import "~src/mixins";

.character{
    padding-bottom: 10px;
    padding-top: 10px;

    @include media-breakpoint-up(md){
        padding-bottom: 15px;
        padding-top: 15px;
    }

    &, .card, .text-muted{
        transition: 0.2s background-color ease, 0.2s color ease;
    }

    archetype-icon{
        flex: 0 0 auto;
    }

    .content{
        flex: 1 0 auto;
        margin: 0 1rem;
    }

    p{
        margin-bottom: 0;
    }

    h5{
        font-weight: 600;
    }

    &:hover{
        color: $white;
        text-decoration: none;
        .card {
            background-color: darken($white, 40);
        }
        .text-muted{
            color: darken($white, 10) !important;
        }
    }
}

.card.warning {
    background-color: lighten($warning, 40%);

    .card-body {
        display: flex;
        flex-direction: row;
        align-items: center;

        @include media-breakpoint-down(sm) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
        }

        fa-icon {
            margin-right: 24px;
        }
    }
}

.controls{
    @include media-breakpoint-down(sm){
        width: 100%;
    }
}
