<div class="container">
    <h1>Characters</h1>

    <div class="card warning">
        <div class="card-body">
            <div>
                <fa-icon size="4x" [icon]="warningIcon" class="text-warning"></fa-icon>
            </div>
            <div>
                <p>All data saved in Badger is stored locally on your device. While this means you don't have to log in to anything to save character information, it does mean
                   that data is not shared between devices, and if you delete your browser cache you will lose your character data.</p>
                <p>You can use the import/export feature if you want to back up your characters, or transfer them to another device.</p>
            </div>
        </div>
    </div>

    <section>
        <p>
            <span class="btn-group">
                <button type="button" class="btn btn-success" (click)="newCharacter()">
                    New Character
                    <fa-icon [icon]="addIcon"></fa-icon>
                </button>

                <button type="button" class="btn btn-light" (click)="importCharacter()">
                    Import Character
                    <fa-icon [icon]="importIcon"></fa-icon>
                </button>
            </span>
        </p>
        <div class="row">
            <ng-container *ngFor="let character of characters | characterSort">
                <a [routerLink]="['/character', character.key]" class="character card col-md-4 col-sm-12">
                    <archetype-icon [archetype]="character.archetypeKey | archetype:(character.serverGroupKey | serverGroup)"></archetype-icon>
                    <div class="card-body">
                        <h5>
                            {{character.name}}
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{(character.serverGroupKey | serverGroup).name}} - {{character.server}}
                        </h6>
                        <p *ngVar="character | characterBadges | collectedOnly as collected">
                            {{collected.length}} Badge{{collected.length == 1 ? "" : "s"}}
                        </p>
                    </div>
                </a>
            </ng-container>
        </div>
    </section>
</div>
