<div class="container">
    <h1>My Characters</h1>

    <section>
        <p>
            <button type="button" class="btn btn-success" (click)="newCharacter()">New Character
                <fa-icon [icon]="addIcon"></fa-icon>
            </button>
        </p>
        <div class="row">
            <ng-container *ngFor="let character of getCharacters() | characterSort">
                <a [routerLink]="['/character', character.key]" class="character card col-md-4 col-sm-12">
                    <archetype-icon [archetype]="character.archetypeKey | archetype:(character.serverGroupKey | serverGroup)"></archetype-icon>
                    <div class="card-body">
                        <h5>
                            {{character.name}}
                        </h5>
                        <h6 class="card-subtitle mb-2 text-muted">
                            {{(character.serverGroupKey | serverGroup).name}} - {{character.server}}
                        </h6>
                    </div>
                </a>
            </ng-container>
        </div>
    </section>
</div>
