@import "~src/mixins";

character-badge-checklist {
    .filters {
        margin-bottom: 8px;

        input.search {
            margin-right: 48px;
        }

        .show-collected-filter {
            display: flex;
            align-items: center;
        }
    }

    .badge-list {
        td {
            vertical-align: middle;
            text-align: center;
            &:not(.badge-select){
                padding: 0.75rem 0;
            }
        }

        th {
            text-align: center;
        }

        tbody{
            tr {
                height: 60px;
                transition: background 0.15s linear;

                &:hover{
                    background: desaturate(lighten($blue, 40), 65);
                }

                td{
                    height: 60px;

                    &:not(.badge-select){
                        padding: 0 0.75rem;
                    }
                }

                &.owned {
                    opacity: 0.3;
                    background: $gray-400;
                }
            }
        }

        @include media-breakpoint-down(sm) {
            .badge-alignment,
            .badge-type,
            .badge-description {
                display: none;
            }
        }

        .badge-select {
            input[type="checkbox"] {
                display: none;
            }

            label {
                display: flex;
                width: 100%;
                height: 100%;
                min-height: 100%;
                align-items: center;
                justify-content: center;
                margin-bottom: 0;
                padding: 0 0.5rem;
                cursor: pointer;
            }
        }

        .no-matches {
            color: $text-muted;
            font-style: italic;
        }

        badge-location {
            display: inline-block;
        }

        .badge-description {
            input[type="number"] {
                margin-right: 8px;
                width: 4em;
                display: inline-block;
            }

            input[type="checkbox"] {
                margin-right: 8px;
            }

            img {
                height: 24px;
            }
        }
    }

    pagination {
        margin-right: 8px;
    }

    .page-count {
        margin-right: 8px;
    }
}
