<form class="filters form-inline">
    <badge-type-select [(type)]="type"></badge-type-select>
    <game-map-select [serverGroup]="serverGroup" [(mapKey)]="mapKey"></game-map-select>
    <input type="text" placeholder="Search..." class="form-control search" [(ngModel)]="queryStr" [ngModelOptions]="{standalone: true}"/>
    <badge-sort-select [(sort)]="sort"></badge-sort-select>
    <button type="button" class="btn btn-light" (click)="clearFilters()">Clear Filters</button>
</form>

<ng-container *ngTemplateOutlet="pagination"></ng-container>

<div class="table-responsive">
    <table class="badge-list table table-bordered">
        <thead>
        <tr>
            <th class="badge-icon"></th>
            <th class="badge-name">Name</th>
            <th class="badge-alignment">Alignment</th>
            <th class="badge-type">Type</th>
            <th class="badge-description">Description</th>
        </tr>
        </thead>
        <tbody>
        <ng-container *ngIf="badges.length; else noMatches">
            <tr *ngFor="let badge of badges | page:page:itemsPerPage" [ngClass]="{owned: badge.owned}">
                <td class="badge-select">
                    <input type="checkbox" class="form-control-lg" [(ngModel)]="badge.owned" (ngModelChange)="collectBadge(badge, $event)"/>
                </td>

                <td class="badge-name">
                    <a [routerLink]="['/', badge.serverGroup.key, 'badge', badge.key]">
                        <badge-name-stacked [badge]="badge"></badge-name-stacked>
                    </a>
                </td>

                <td class="badge-alignment">
                    <badge-alignment-inline [badge]="badge"></badge-alignment-inline>
                </td>

                <td class="badge-type">
                    {{badge.type | badgeType}}
                </td>

                <td class="badge-description">
                    <div *ngIf="badge.type === 'EXPLORATION'">
                        <badge-location [data]="badge"></badge-location>
                    </div>

                    <div *ngIf="badge.acquisition" [innerHTML]="badge.acquisition | smartLinks:{serverGroup: badge.serverGroup}"></div>

                    <div *ngIf="badge.type==='HISTORY'">
                        <table class="table table-borderless">
                            <tr *ngFor="let partial of badge.partials" [ngClass]="{owned: partial.owned}">
                                <td>
                                    <label>
                                        <input type="checkbox" [(ngModel)]="partial.owned" (ngModelChange)="collectPartial(partial, $event)">
                                        <badge-location [data]="partial"></badge-location>
                                    </label>
                                </td>
                            </tr>
                        </table>
                    </div>

                    <div *ngIf="badge.type==='INVENTION'">
                        <table class="table table-borderless">
                            <tr *ngFor="let partial of badge.partials | inventionPartials" [ngClass]="{owned: partial.craftCount === partial.count}">
                                <td>
                                    <input type="number" [(ngModel)]="partial.craftCount" (ngModelChange)="collectPartial(partial, partial.owned, $event)"
                                           [max]="partial.count" min="0" class="form-control">
                                    Craft {{partial.count}} level {{partial.inventionLevel}}
                                    <invention-types [inventionTypes]="partial.inventionTypes"></invention-types>
                                    enhancement{{partial.count > 1 ? "s" : ""}}.
                                </td>
                            </tr>
                            <ng-container *ngVar="getPlusOneInvention(badge) as plusOne">
                                <tr *ngIf="plusOne">
                                    <td>
                                        <label>
                                            <input type="checkbox" [(ngModel)]="plusOne.owned" (ngModelChange)="collectPartial(plusOne, $event)">
                                            Plus one more of either level.
                                        </label>
                                    </td>
                                </tr>
                            </ng-container>
                        </table>

                    </div>

                    <div *ngIf="badge.type==='ACCOLADE'">
                        <badge-list-images [badges]="badge.partials | badgePartials:badge.serverGroup"></badge-list-images>
                    </div>
                </td>
            </tr>
        </ng-container>
        <ng-template #noMatches>
            <tr>
                <td class="no-matches" colspan="5">No badges match your current filters.</td>
            </tr>
        </ng-template>
        </tbody>
    </table>
</div>

<ng-container *ngTemplateOutlet="pagination"></ng-container>

<div>{{totalItems}} badges total ({{serverGroup.badges.length - totalItems}} filtered)</div>

<ng-template #pagination>
    <div class="form-inline">
        <pagination [totalItems]="totalItems" [(ngModel)]="page" [maxSize]="5" [itemsPerPage]="itemsPerPage" (numPages)="pageCount = $event"></pagination>
        <ul class="pagination">
            <li>
                <div class="form-text page-count">{{pageCount}} Page(s)</div>
            </li>
            <li>
                <select class="form-control" [(ngModel)]="itemsPerPage">
                    <option value="10">10 items per page</option>
                    <option value="20">20 items per page</option>
                    <option value="50">50 items per page</option>
                    <option value="100">100 items per page</option>
                    <option value="500">500 items per page</option>
                    <option value="">All</option>
                </select>
            </li>
        </ul>
    </div>
</ng-template>
