@import "~src/mixins";

character-badge-checklist {
    .filters {
        margin-bottom: 8px;

        input.search {
            margin-right: 48px;
        }
    }

    .badge-list {
        td {
            vertical-align: middle;
            text-align: center;
        }

        th {
            text-align: center;
        }

        tr.owned {
            opacity: 0.3;
            background: $gray-400;
        }

        td.badge-select {
            input {
                transform: scale(1.5);
            }
        }

        @include media-breakpoint-down(sm) {
            .badge-alignment,
            .badge-type,
            .badge-description {
                display: none;
            }
        }

        .no-matches {
            color: $text-muted;
            font-style: italic;
        }
    }

    pagination {
        margin-right: 8px;
    }

    .page-count {
        margin-right: 8px;
    }
}
