<div class="modal-header">
    <h4 class="modal-title pull-left">Log parser</h4>

    <button type="button" class="close pull-right" aria-label="Close" (click)="bsModalRef.hide()">
        <span aria-hidden="true">&times;</span>
    </button>
</div>
<ng-container *ngIf="foundBadges === undefined">
    <div class="modal-body"
         [ngClass]="{'drag-over': dragOver}"
         appDragAndDropFile
         (fileDragEnter)="fileDragEnter()"
         (fileDragLeave)="fileDragLeave()"
         (fileDropped)="fileDropped($event)">

        <ng-container *ngIf="serverGroup !== undefined">
            <p>Select files below or drop them into this window</p>
            <div class="custom-file mb-3">
                <input type="file" class="custom-file-input" id="customFile" multiple
                (change)="onFileSelect($event)">
                <label class="custom-file-label" for="customFile">Choose file</label>
            </div>
            <table class="table table-bordered file-table">
                <tbody>
                    <tr *ngFor="let file of fileList | keyvalue">
                        <td class="file-name">{{file.value.name}}</td>
                        <td>
                            <button class="btn" (click)="removeFile(file.key.toString())">
                                <fa-icon size="sm" [fixedWidth]="true" [icon]="closeIcon"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>

            <div class="form-group">
                <label>Select server group</label>
                <server-group-select [(serverGroup)]="serverGroup"></server-group-select>
            </div>

        </ng-container>
    </div>
    <div class="modal-footer">
        <div class="progress"
             *ngIf="isParsingLogs">
            <div class="progress-bar"
                 role="progressbar"
                 aria-valuemax="100"
                 aria-valuemin="0"
                 [style.width]="parsingProgress + '%'"
                 attr.aria-valuenow="{{parsingProgress}}"></div>
        </div>
        <div class="spinner-border spinner-border-sm text-info"
             role="status"
             *ngIf="isGeneratingHashes"></div>
        <button class="btn btn-primary" [disabled]="disableSubmit" (click)="submit()">
            Submit
        </button>

        <button class="btn btn-secondary" (click)="openHowTo()">
            Help
        </button>
    </div>
</ng-container>


<ng-container *ngIf="hasParsedBadges === true && hasNewFoundBadges === false">
    <div class="modal-body">
        <p>No new badges were found</p>
    </div>

    <div class="modal-footer">
        <button class="btn btn-primary" (click)="close()">
            Close
        </button>
    </div>
</ng-container>

<ng-container *ngIf="hasParsedBadges === true && hasNewFoundBadges === true">
    <div class="modal-body">
        <ng-container>
            <p>The following new badges were found</p>
            <table class="table table-bordered file-table">
                <thead>
                    <th>Character name</th>
                    <th>New badges found</th>
                    <th>Server</th>
                    <th colspan="2">Archtype</th>
                </thead>
                <tbody>
                    <tr *ngFor="let character of foundBadges | keyvalue">
                        <td>{{character.key}}</td>
                        <td>{{character.value.badges.length}}</td>
                        <td *ngIf="isNewCharacter(characters.keys)">
                            <input *ngIf="character.value.character === undefined"
                                   id="server"
                                   name="server"
                                   type="text"
                                   class="form-control"
                                   [(ngModel)]="character.value.server"
                                   [typeahead]="servers"
                                   [typeaheadMinLength]="0"
                                   typeaheadOptionField="name"
                                   [isAnimated]="true"
                                   required>
                            <ng-container *ngIf="character.value.character !== undefined">
                                {{character.value.server}}
                            </ng-container>
                        </td>
                        <td>
                            <select  *ngIf="character.value.character === undefined"
                                     id="archetype"
                                    name="archetype"
                                    class="form-control"
                                    [(ngModel)]="character.value.archetypeKey">
                                <option *ngFor="let archetype of archetypes" [ngValue]="archetype.key">{{archetype.name}}</option>
                            </select>

                            <ng-container *ngIf="character.value.character !== undefined">
                                {{selectedServerGroup.getArchetype(character.value.archetypeKey).name}}
                            </ng-container>
                        </td>
                        <td>
                            <button class="btn" (click)="removeCharacter(character.key.toString())">
                                <fa-icon size="sm" [fixedWidth]="true" [icon]="closeIcon"></fa-icon>
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </ng-container>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" (click)="save()">
            Save
        </button>
    </div>
</ng-container>
