.modal-body.drag-over {
    box-shadow: inset 0 0 0 3px var(--success);
}

.file-table {
    td {
        vertical-align: middle;
        text-align: center;
    }
}

.file-name {
    width: 100%;
}

.progress {
    flex: 1 0 auto;
}
