@import "~src/mixins";

.badge-names {
    :not(:first-child):before {
        content: ' / ';
    }

    .badge-name {
        font-weight: 600;
        white-space: nowrap;

        &.hero {
            color: $hero;
        }

        &.villain {
            color: $villain;
        }

        &.praetorian {
            color: $praetorian;
        }
    }
}
