@import "~src/mixins";

.badge-alignment {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    color: $inactive-text;
    user-select: none;

    .hero {
        color: $hero;
        user-select: text;
    }

    .villain {
        color: $villain;
        user-select: text;
    }

    .praetorian {
        color: $praetorian;
        user-select: text;
    }
}
