<div class="container">
    <nav class="main-breadcrumb" aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
            <li class="breadcrumb-item"><a [routerLink]="['/character']">My Characters</a></li>
            <li class="breadcrumb-item active" aria-current="page">{{character.name}}</li>
        </ol>
    </nav>

    <h1>
        <archetype-icon [archetype]="archetype"></archetype-icon>
        {{character.name}}
    </h1>

    <div class="btn-group">
        <button type="button" class="btn btn-primary" (click)="rename()">
            Rename
            <fa-icon [icon]="renameIcon"></fa-icon>
        </button>
        <button type="button" class="btn btn-secondary" (click)="exportCharacter()">
            Export Character
            <fa-icon [icon]="exportIcon"></fa-icon>
        </button>
        <button type="button" class="btn btn-danger" (click)="delete()">
            Delete
            <fa-icon [icon]="deleteIcon"></fa-icon>
        </button>
    </div>


    <section>
        <h3 *ngVar="character | characterBadges | collectedOnly as collected">
            {{collected.length}} Badge{{collected.length == 1 ? "" : "s"}}
        </h3>
        <tabset>
            <tab heading="Display" (selectTab)="activeTab = $event.heading" [active]="activeTab === 'Display'">
                <character-badge-display [character]="character"></character-badge-display>
            </tab>
            <tab heading="Collect" (selectTab)="activeTab = $event.heading" [active]="activeTab === 'Collect'">
                <character-badge-checklist [character]="character"></character-badge-checklist>
            </tab>
        </tabset>
    </section>
</div>
