@import "./_mixins.scss";

section {
    margin-top: 64px;
}

.blockquote {
    margin-left: 0.5em;
    padding-left: 1em;
    border-left: 0.2em solid lighten($primary, 20%);
}

.bad-link {
    color: $red;
}

.smart-link {
    &:before {
        content: '['
    }

    &:after {
        content: ']';
    }

}
