server-group-statuses {
    margin: 0 1em;
}

.contact {
    code {
        user-select: all;
    }
}

.card.thanks {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 24px;

    fa-icon {
        color: #dddddd;
    }

    ul {
        margin: 0;
    }
}
