<div *ngIf="badge.type === 'EXPLORATION'">
    <badge-location [data]="badge"></badge-location>
</div>

<div *ngIf="badge.acquisition" [innerHTML]="badge.acquisition | smartLinks:badge.serverGroup"></div>

<div *ngIf="badge.type==='HISTORY'">
    <badge-location *ngFor="let partial of badge.partials" [data]="partial"></badge-location>
</div>

<div *ngIf="badge.type==='INVENTION'">
    <div *ngFor="let partial of badge.partials | inventionPartials">
        Craft {{partial.count}} level {{partial.inventionLevel}}
        <invention-types [inventionTypes]="partial.inventionTypes"></invention-types>
        enhancement{{partial.count > 1 ? "s" : ""}}.
    </div>
    <div *ngIf="hasPlusOneInvention()">Plus one more of either level.</div>
</div>

<div *ngIf="badge.type==='ACCOLADE'">
    <badge-list-icons [badges]="badge.partials | badgePartials:badge.serverGroup"></badge-list-icons>
</div>
